@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


:root{
    --cor1: #c5ebd6;
    --cor2: #43e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Krona One', sans-serif;
    --font-android: 'idroid';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00a0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    font-family: var(--fonte-destaque);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.781);
    min-height: 150px;
    padding-top: 40px;
}

header>h1{
    color: white;
    text-align: center;
    font-style: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.568);
    font-weight: normal;
}

header>p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    text-align: center;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.568);
}

nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.801);
}

nav>a{
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 7px;
    transition-duration: 0.5s;
}

nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor6);

    
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.781);
}

main h1{
    font-family: 'idroid';
    color: var(--cor6);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: 'idroid';
    font-weight: normal;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    color: var(--cor6);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    padding: 2px 6px; 
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

picture>img{
    width: 100%;
}

.pq{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor6);
    margin: 0px -20px 20px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video >iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    border-radius: 5px;
    padding: 10px;
    background-color: var(--cor1);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.781);
}

aside>h3{
    border-radius: 5px 5px 0px 0px;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

aside ul{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor6);
    color: white;
    text-align: center;
}

footer > p{
    font-weight: bold;
}